body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@keyframes breath {
  0% {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-60%) scale(1);
  }
  50% {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-60%) scale(1.1);
  }
  100% {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    transform: translateY(-60%) scale(1);
  }
}
.navbar {
  z-index: 1;
  background-color: #fff;
  padding: 10px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.navbar a {
  text-decoration: none;
}
.navbar a:focus,
.navbar a:visited {
  color: red;
}
.navbar li {
  display: block;
  margin: 10px;
}
.navbar .toggle {
  order: 1;
}
.navbar .item {
  order: 3;
  width: 100%;
  display: none;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.active .item {
  display: block;
  text-align: center;
}
.navbar .dev {
  margin-left: auto;
  font-size: 11px;
}
.navbar .dev_link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  border: solid 2px currentColor;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 20px;
}
.navbar .dev .hide_this {
  display: none;
}
.navbar .logo img {
  width: 90px;
}

@media screen and (min-width: 960px) {
  .navbar .logo img {
    width: 100%;
  }
  .navbar {
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 50px;
  }
  .navbar .logo {
    order: 0;
    margin-right: 100px;
  }
  .navbar .item {
    order: 0;
    position: relative;
    display: block;
    width: auto;
  }
  .navbar .toggle {
    display: none;
  }
  .navbar .dev {
    margin-left: auto;
    font-size: 16px;
  }
  .navbar .dev_link {
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    margin-left: 50px;
  }
  .navbar .dev .hide_this {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar .dev .hide_this {
    display: inline-block;
  }
}

/* ---- Landing Page ---- */
.landing__section-one--text {
  width: 40%;
  padding: 100px;
}
.landing__section-one--text-big {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 40px;
}
.landing__section-one--text-small {
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  .landing__section-one--text {
    width: 70%;
    padding: 50px 80px;
    box-sizing: border-box;
  }
  .landing__section-one--text-big {
    font-size: 30px;
    line-height: 35px;
  }
  .landing__section-one--text-small {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .landing__section-one--text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .landing__section-one--text-big {
    font-size: 25px;
    line-height: 30px;
  }
  .landing__section-one--text-small {
    font-size: 13px;
  }
}

.landing__section-one--media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}
.landing__section-one--media__arrow_down {
  flex: 0 0 10%;
  text-align: center;
  margin-bottom: 200px;
}
.landing__section-one--media__big_pic {
  flex: 1;
  position: relative;
}
.landing__section-one--media__big_pic img {
  width: 100%;
}
.landing__section-one--media__big_pic-video-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing__section-one--media__big_pic-video-control i {
  background-color: green;
  color: white;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.landing__section-one--media__big_pic-video-control small {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .landing__section-one--media__arrow_down {
    margin-bottom: 0px;
    order: 1;
    animation: breath 1s infinite;
  }
  .landing__section-one--media__big_pic {
    flex: 1 100%;
  }
  .landing__section-one--media__big_pic-video-control i {
    padding: 10px;
    margin-bottom: 10px;
  }
}

.landing__section-learnable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 150px 0;
}
.landing__section-learnable--media {
  flex: 0 0 45%;
}
.landing__section-learnable--text {
  flex: 0 0 45%;
  margin-left: 50px;
  padding: 40px;
  box-sizing: border-box;
}
.landing__section-learnable--text h1 {
  font-size: 40px;
}
.landing__section-learnable--text p {
  font-size: 18px;
}
.landing__section-learnable--text a {
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .landing__section-learnable {
    margin: 50px 0;
  }
  .landing__section-learnable--media {
    flex: 0 0 100%;
  }
  .landing__section-learnable--text {
    flex: 0 0 100%;
    margin-left: 10px;
    padding: 10px;
  }
}

.landing__section-agora {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
  background-color: #ddd;
}
.landing__section-agora--media {
  flex: 0 0 45%;
}
.landing__section-agora--text {
  flex: 0 0 45%;
  margin-left: 0px;
  padding: 40px;
  padding-left: 0px;
  box-sizing: border-box;
}
.landing__section-agora--text h1 {
  font-size: 40px;
}
.landing__section-agora--text p {
  font-size: 18px;
}
.landing__section-agora--text a {
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .landing__section-agora {
    padding: 0px;
  }
  .landing__section-agora--media {
    flex: 0 0 100%;
    order: -1;
  }
  .landing__section-agora--text {
    flex: 0 0 100%;
    margin-left: 10px;
    padding: 10px;
  }
}

.landing__section-startzone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 150px 0;
}
.landing__section-startzone--media {
  flex: 0 0 45%;
}
.landing__section-startzone--text {
  flex: 0 0 45%;
  margin-left: 50px;
  padding: 40px;
  box-sizing: border-box;
}
.landing__section-startzone--text h1 {
  font-size: 40px;
}
.landing__section-startzone--text p {
  font-size: 18px;
}
.landing__section-startzone--text a {
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .landing__section-startzone {
    margin: 50px 0;
  }
  .landing__section-startzone--media {
    flex: 0 0 100%;
  }
  .landing__section-startzone--text {
    flex: 0 0 100%;
    margin-left: 10px;
    padding: 10px;
  }
}

.landing__section-other-things-we-do {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.landing__section-other-things-we-do__media-plus-text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 100px;
  box-sizing: border-box;
}
.landing__section-other-things-we-do__media-plus-text p {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
  padding: 0 100px 50px 0;
}
.landing__section-other-things-we-do__media-plus-text__first-half {
  display: flex;
  align-items: center;
}
.landing__section-other-things-we-do__media-plus-text__first-half img,
.landing__section-other-things-we-do__media-plus-text__first-half p {
  margin: 15px;
}
.landing__section-other-things-we-do__media-plus-text__second-half {
  display: flex;
}
.landing__section-other-things-we-do__media-plus-second-half-one {
  margin: 15px;
}
.landing__section-other-things-we-do__media-plus-second-half-two {
  margin: 15px;
}
.landing__section-other-things-we-do__text {
  flex: 0 0 50%;
  font-size: 50px;
  padding: 100px;
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .landing__section-other-things-we-do__media-plus-text {
    flex: 0 0 70%;
  }
  .landing__section-other-things-we-do__text {
    flex: 0 0 70%;
    padding: 60px;
  }
}
@media screen and (max-width: 600px) {
  .landing__section-other-things-we-do__media-plus-text {
    flex: 0 0 100%;
    padding: 0px;
    box-sizing: border-box;
  }
  .landing__section-other-things-we-do__media-plus-text p {
    padding: 0;
  }
  .landing__section-other-things-we-do__media-plus-text img {
    width: 100%;
  }
  .landing__section-other-things-we-do__media-plus-text__first-half {
    box-sizing: border-box;
    flex-wrap: wrap;
  }
  .landing__section-other-things-we-do__media-plus-text__first-half img,
  .landing__section-other-things-we-do__media-plus-text__first-half p {
    margin: 10px 0;
  }
  .landing__section-other-things-we-do__media-plus-text__second-half {
    display: flex;
    flex-wrap: wrap;
  }
  .landing__section-other-things-we-do__media-plus-second-half-one {
    flex: 100%;
    margin: 0px;
  }
  .landing__section-other-things-we-do__media-plus-second-half-two {
    flex: 100%;
    margin: 0px;
  }
  .landing__section-other-things-we-do__text {
    flex: 0 0 100%;
    font-size: 30px;
    padding: 30px 20px;
    order: -1;
  }
}

.landing__section-best-team-in-the-world {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  background-color: darkblue;
  color: white;
}
.landing__section-best-team-in-the-world--media {
  flex: 0 0 45%;
  padding: 100px;
  box-sizing: border-box;
}
.landing__section-best-team-in-the-world--text {
  flex: 0 0 45%;
  /* margin-left: 50px; */
  padding: 40px;
  padding-left: 0px;
  box-sizing: border-box;
}
.landing__section-best-team-in-the-world--text h1 {
  font-size: 40px;
}
.landing__section-best-team-in-the-world--text p {
  font-size: 18px;
}
.landing__section-best-team-in-the-world--text a {
  font-size: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .landing__section-best-team-in-the-world {
    padding: 0px;
  }
  .landing__section-best-team-in-the-world--media {
    flex: 0 0 100%;
    order: -1;
  }
  .landing__section-best-team-in-the-world--text {
    flex: 0 0 100%;
    margin-left: 10px;
    padding: 10px;
  }
}
.landing__section-stay-up-to-date {
  display: flex;
}
.landing__section-stay-up-to-date__arrow-up {
  flex: 0 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing__section-stay-up-to-date__text {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}
.landing__section-stay-up-to-date__text--heading {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  flex: 0 0 60%;
  text-transform: capitalize;
  padding: 100px 30px;
  box-sizing: border-box;
  /* padding-left: 50px; */
}
.landing__section-stay-up-to-date__text--middle {
  flex: 0 0 20%;
}
.landing__section-stay-up-to-date__text--middle-input {
  background-color: transparent;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
.landing__section-stay-up-to-date__text--middle-input::placeholder {
  color: #000;
}
.landing__section-stay-up-to-date__text--button {
  text-transform: uppercase;
  padding: 10px 15px;
  background-color: transparent;
  border: solid 1px;
  border-radius: 5px;
  font-weight: 700;
}
@media screen and (max-width: 960px) {
  .landing__section-stay-up-to-date {
    flex-wrap: wrap;
    position: relative;
  }
  .landing__section-stay-up-to-date__arrow-up {
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 20px;
    animation: breath 1s infinite;
  }
  .landing__section-stay-up-to-date__text {
    flex: 1 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: green;
  }
  .landing__section-stay-up-to-date__text--heading {
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    flex: 0 0 100%;
    text-transform: capitalize;
    padding: 20px;
    box-sizing: border-box;
  }
  .landing__section-stay-up-to-date__text--middle {
    flex: 0 0 50%;
  }
  .landing__section-stay-up-to-date__text--middle-input {
    background-color: transparent;
    border: none;
    padding: 5px 0;
    border-bottom: 1px solid #000;
  }
  .landing__section-stay-up-to-date__text--button {
    align-self: flex-start;
    margin-left: 5px;
  }
}

.footer {
  padding: 100px 0;
}
.footer-flex-section {
  display: flex;
  padding: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-flex-section__link {
  text-transform: uppercase;
  font-size: 20px;
}
.footer-flex-section__paragraph {
  font-size: 18px;
}
.footer-flex-section-one {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}
.footer-flex-section-one__link {
  margin-bottom: 20px;
}
.footer-flex-section-two {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
}
.footer-flex-section-two--paragraph {
  margin-bottom: 40px;
}
.footer-flex-section-three {
  flex: 0 0 30%;
  display: flex;
}
.footer-flex-section-three__image {
  margin-right: 20px;
}
.footer-flex-section-three-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media screen and (max-width: 960px) {
  .footer-flex-section-one {
    margin-bottom: 20px;
    flex: 0 0 100%;
  }
  .footer-flex-section-two {
    margin-bottom: 20px;
    flex: 0 0 100%;
  }
  .footer-flex-section-three {
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-links-section {
  padding: 20px;
  text-align: center;
}
.footer-links-section__link {
  margin: 20px;
}
.footer-copyrights-section {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
}
.footer-copyrights-section-one {
  margin-right: 20px;
}

.learnable-section-navs {
  display: flex;
  justify-content: center;
  background-color: darkblue;
}
.learnable-section-navs__link {
  color: #fff;
  margin: 20px;
  text-transform: uppercase;
}
.learnable-section-navs__link:focus {
  color: yellow;
}

.section-learnable-coming-soon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: yellow;
}
.section-learnable-coming-soon-one {
  flex: 0 0 40%;
  padding: 50px ;
  box-sizing: border-box;
}
.section-learnable-coming-soon-one__heading {
  font-size: 40px;
  text-transform: capitalize;
}
.section-learnable-coming-soon-two {
  flex: 0 0 40%;
  padding: 50px ;
  box-sizing: border-box;
}
.section-learnable-coming-soon-two__link,
.section-learnable-coming-soon-two__link:active {
  font-size: 40px;
  font-weight: 700;
  color: #000;
}
